
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*
* Define global variables
*/
:root{
    --dark-blue : #1B1E3D;
    --light-blue : #5396E7;
    --light-grey: #D6D6D6;
    --very-light-blue: #EDF4FD;
    --white : #fff;
    --black : #000;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/*Start - Footer css*/
.basic-footer{
    display: flex;
    flex-flow: 1;
    justify-content: center;
    background-color: var(--dark-blue);
    color: var(--very-light-blue);
    padding: 1rem 2rem;
}
.basic-footer h4{
    padding-left: 5px;
}
.fa-copyright{
    padding-top: 1.5px;
}
/*END - Footer css*/


/*Start - Events section css*/
.events{
    background-color: var(--very-light-blue);
    text-align: center;
}
.events h2{
    padding: 0.5rem 0.5rem;
}
/*END - Events section css*/

/*Start - Last subscribers*/
.subs-top-container{
    padding-bottom: 1rem;
    display: flex;
}
.subs-card{
    padding: 0.5rem 0rem;
    display: flex;
}
.subs-card p{
    padding-left: 5px;
}
.subs-card img{
    width: 150px;
    height: 150px;
}
.subs-card-right-grid{
    display: grid
}
.subs-top-container h4{
    width: 100%;
}
.line{
    height: 1px;
    width: 100%;
    border-bottom: 1px solid var(--dark-blue);
    padding-top: 10px;
}
.subs-all-cards-container{
    display: grid;
}
.subs-card-right-grid h5{
    width: max-content;
    height: max-content;
    margin: 0 auto;
    padding: 0.25rem 0.5rem;
    background-color: var(--dark-blue);
    border-radius: 5px;
    text-align: center;
    color: var(--very-light-blue);
}
.susbcribers-last{
    padding: 2rem 0.5rem;
}

.subs-top-container h4{
    padding-left: 5px;
}
/*END - Last subscribers*/