
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*
* Define global variables
*/
:root{
    --dark-blue : #1B1E3D;
    --light-blue : #5396E7;
    --light-grey: #D6D6D6;
    --very-light-blue: #EDF4FD;
    --white : #fff;
    --black : #000;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
/*Start - header css*/
.menu {
    display: none;
}

.menu-checkbox:checked ~ .menu {
    display: block;
}


.menu-checkbox {
	opacity: 0;
	position: absolute;
	top: -1000px;
}

.menu-checkbox:focus + .menu-toggle {
    outline: #5396E7 auto 5px;
}

.menu-toggle {
    padding: .5em 1em;
}


.nav-wrapper {
    align-items: center;
    display: flex;
    
   justify-content: space-between;
}
/*End - header css*/

/*Start - Footer css*/
.basic-footer{
    display: flex;
    flex-flow: 1;
    justify-content: center;
    background-color: var(--dark-blue);
    color: var(--very-light-blue);
    padding: 1rem 2rem;
}
.basic-footer h4{
    padding-left: 5px;
}
.fa-copyright{
    padding-top: 1.5px;
}
/*END - Footer css*/

<<<<<<< HEAD

/*Start - Events section css*/
.events{
    background-color: var(--dark-blue);
    text-align: center;
}
.events h2{
    padding: 1rem 1rem;
    color: var(--light-blue)
}
/*END - Events section css*/

/*Start - Last subscribers*/
.susbcribers-last{
    background-color: var(--very-light-blue);
}
.subs-top-container{
    padding-bottom: 1rem;
    display: flex;
}
.subs-card{
    padding: 0.5rem 0rem;
    display: flex;
}
.subs-card p{
    padding-left: 5px;
}
.subs-card img{
    border-radius: 2px;
    box-shadow: 2px 2px var(--light-blue);
    width: 150px;
    height: 150px;
}
.subs-card-right-grid{
    display: grid
}
.subs-top-container h4{
    width: 100%;
    padding-left: 5px;
}
.line{
    height: 1px;
    width: 80%;
    border-bottom: 1px solid var(--dark-blue);
    padding-top: 10px;
}
.subs-all-cards-container{
    display: grid;
}
.subs-card-right-grid h5{
    width: max-content;
    height: max-content;
    margin: 0 auto;
    padding: 0.25rem 0.5rem;
    background-color: var(--dark-blue);
    border-radius: 5px;
    text-align: center;
    color: var(--very-light-blue);
}
.susbcribers-last{
    padding: 2rem 0.5rem;
}
/*END - Last subscribers*/

/*Start - post announce css*/
.post-announce{
    padding: 3rem 0rem;
    width: 100%;
    text-align: center;
    background-image: url('../../src/img/bg-announce.jpg');
    background-position: center;
}
.post-announce h5{
    color: var(--very-light-blue);
    font-weight: bold;
}
/*END - post announce css*/
=======
/* start css slider */
#slider{
    width: 100%;max-width: 960px;overflow: hidden;
}
#slider figure {
    position: relative; 
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    animation: 25s slidy infinite;
  }
  #slider figure img 
  { width: 20%; height: auto; float: left; 
}
     @keyframes slidy {
        0% { left: 0%; }
        20% { left: 0%; }
        25% { left: -100%; }
        45% { left: -100%; }
        50% { left: -200%; }
        70% { left: -200%; }
        75% { left: -300%; }
        95% { left: -300%; }
        100% { left: -400%; }
}
/* end css slider */
>>>>>>> benoit
